@import '../../consts.scss';

.pagesbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size:1.2rem;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
    width:100%;
    .pages {
        span {
            cursor: pointer;
            display: inline-block;
            user-select: none; /* Standard */
            padding:10px;
            &:hover {
                filter:$hover-filter;
            }
            &:active {
                transform: scale(0.9);
            }

        }
        .current {
            font-weight: bold;
        }
    }
    .jumper {
        > :not(:first-child) {
            margin-left:10px;
        }
        input {
            width:13ch;
            text-align: center; 
        }
    }
    .selector {
        > :not(:first-child) {
            margin-left:10px;
        }
    }

}

@media screen and (min-width:$width-avg-min) {
    .pagesbar {
        flex-direction: row;
        padding:5px 10px;
        
    }
}


@media screen and (max-width:$width-avg-min) {
    .pagesbar {
        flex-direction: column;
        padding:10px 5px;
        > :not(:first-child) {
            margin-top:10px;
        }
        .pages {
            order:1;
        }
    }
    
}

