.footer {
    background-color: burlywood;
    padding:10px 20px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span:not(:first-child) {
        margin-top:5px;
    }
}